<extend name="Public:base"/>
<block name="content">
<!-- 面包屑 start -->
<div class="crumbs">
    <i class="icon-home"></i>
    <a href="/">首页</a><i class="icon-gt"></i>
    <a href="#">百宝箱</a><i class="icon-gt"></i>会员权益
</div>
<!--/ 面包屑 end -->
<div class="main">
    <include file="Public:parent_list"/>
    <div class="rightBox">
    <!-- 个人中心页面内容start -->
    <div class="per-page-content" style="background: none;">
        <div class="widget-h-75 bg-white widget-header-em"><em>会员权益</em></div>

        <div class="count-page-content bg-white clearfix bd" style="width:750px; min-height: 900px;">

            <ul class="vip-top">
                <li class="current-exp">
                    <em>{$account}</em>
                    当前经验值
                </li>
                <li class="over-users">
                    <!--<em>0.0%</em>
                    超过用户-->
                </li>
                <li class="current-level">
                    <em>VIP{$user_info['level']}</em>


                    会员等级
                </li>
            </ul>

            <div class="vip-update">
                <h4>我的升级进度</h4>
                <p class="update-pic"></p>

                <h4>经验值构成</h4>
                <p>
                    1、每次投资获得：按投资金额1:1获得经验值。<br />
                    例如，投资100元获得100经验值，经验值会在所投资产品满标时后自动到账。 <br />
                    2、会员生日当天投资获得双倍的经验值。
                </p>

                <h4>会员特权</h4>
                <p>
                    <strong>所有会员</strong><br />
                    1、生日当天获得生日礼包（包括0.2的加息券一张，20元现金券一张）。 <br />
                    2、会员生日当天，他名下的所有推荐用户获得10元现金券一张。
                </p>
            </div>

        </div>
    </div>
</div>
</div>
</block>
