<extend  name="Public/base" />
<block name="content">
<!-- 面包屑 start -->
<div class="crumbs">
    <i class="icon-home"></i>
    <a href="/">首页</a><i class="icon-gt"></i>
    <a href="{:U('about_us')}">信息披露</a><i class="icon-gt"></i>{$info['title']}
</div>
<!--/ 面包屑 end -->

<div class="main">
    <div class="leftBox">
        <h3>信息披露</h3>
        <ul class="parentList">

            <!--<li  class="active"><a href="teamSchema.html">团队架构</a></li>-->

            <volist name="arclist" id="v">
                <li <if condition="$v.id eq $info['id']" >  class="active" </if> ><a href="{:U('about_us',['id'=>$v['id']])}">{$v.title}</a></li>
            </volist>

        </ul>
    </div>

    <div class="rightBox">
        <div class="data-widget">
            <h3><em>{$info['title']}</em></h3>
            <div class="mt20" style="    padding-left: 38px;    font-size: 14px;    line-height: 28px;">
                {$info['body']|htmlspecialchars_decode}
            </div>
            <if condition="!empty($info['topics_title'])">
                <h3><em>{$info['topics_title']}</em></h3>
                <div class="honour-box" style="left: 0px;">
                    <div class="honour-list clearfix" style="width: 640px; margin: 20px auto;">
                        <volist name="info.topics" id="v">
                        <div class="honour-card" style="width: 140px;">
                            <img src="{$v['imgsrc']}">
                            <p class="card-info" style="color: #999;text-align: center;">
                                {$v['imgtitle']}
                            </p>
                        </div>
                        </volist>

                    </div>
                </div>
            </if>
        </div>
    </div>

</div>
</block>


<block name="footer_js">
<script type="text/javascript" src="__PUBLIC__website/js/jquery.poshytip.min.js"></script>
<script type="text/javascript">
    $(function () {
        //菜单着色
        (function(){
            var _em = $('.widget-header-em > em');
            var __li = $('.parentList .childList li');
            $.each(__li,function (i){
                var _this_li = __li.eq(i);

                if(_this_li.find('i').text() == _em.text())
                    _this_li.addClass('active');

            });
        })();
    })
    // 提示框
    var _opts = {
        className: "tip-yellowsimple",
        showTimeout: 1,
        alignTo: "target",
        alignX: "center",
        alignY: "top",
        offsetY: 10,
        offsetX:20,
        allowTipHover: true
    };
    $(".popTip").poshytip(  _opts );
    $(function(){
        var state='';
        var errorMsg='';
        if(state==1){
            xzalert( errorMsg );
        }
    })


    function queryQuestion(){
        var noquestion = $('#noquestion').val();
        $.post("queryQuestion",  function(data) {
            if(data.noquestion == 1){
                xzalert("暂无调查问卷！");
                return ;
            }else{
                //window.location.href= "http://www.xiaozhu168.com/queryQuestion.html";
                window.open("http://www.xiaozhu168.com/queryQuestion.html");
            }
        })
    }


</script>

    <script type="text/javascript">
        /*$(function(){
            $(".common-nav-list li").removeClass("active");
            $(".common-nav-list li").eq(2).addClass("active");
        })*/

        function openNewPage(url){
            window.open(url,"_blank");
        }


        var ImgBanner = (function(){
            // 幻灯片
            var _imgWall = function(){
                var html = '<div class="imgwall_shadow"></div><div class="img_wall"><img src="" class="current-img" /><button class="img_wall_close"></button><div class="pre-img"><input type="button" class="pre-img-btn" /></div><div class="next-img"><input type="button" class="next-img-btn" /></div></div>';
                var imgWalls = [];

                function _ShowImg( imgs , tagName , src ){
                    this.now = 0;
                    this.box = $('body');
                    this.imgs = imgs.find( tagName || 'img' );
                    this.imgSrc = src || 'src';
                    this.init();
                    imgWalls.push( this );
                }

                _ShowImg.prototype = {
                    init : function(){
                        this.box.append( html );
                        var win = this.wall = this.box.find( '.img_wall' ).last();
                        this.shadow = this.box.find( '.imgwall_shadow' ).last();
                        var _this = this;
                        win.find('.img_wall_close').click(function(){
                            _this.hide();
                        });
                        win.find('.pre-img').click(function(){
                            _this.now = _this.now === 0 ? _this.imgs.length - 1 : _this.now - 1;
                            _this.show();
                        });
                        win.find('.next-img').click(function(){
                            _this.now = _this.now === _this.imgs.length - 1 ? 0 : _this.now + 1;
                            _this.show();
                        });
                        this.shadow.click(function(){
                            _this.hide();
                        });
                    },
                    show : function( img ){
                        var src = this.imgSrc;
                        var _this = this;
                        var win = this.wall;
                        win.hide();
                        this.shadow.hide();
                        win.find('img').remove();
                        if( img && $(img).attr( src ) ){
                            this.imgs.each(function( index ){
                                if( $(this).attr( src ) === $(img).attr( src ) ){
                                    _this.now = index;
                                }
                            });
                        }
                        var _img = document.createElement( 'img' );
                        _img.onload = _img.oncomplete = function(){
                            var _w = w = _img.width;
                            var _h = h = _img.height;
                            var winW = $(window).width();
                            var winH = $(window).height();
                            while( _w > winW || _h > winH ){
                                _w = Math.ceil( _w * 9 / 10 );
                                _h = Math.ceil( h * _w / w );
                            }
                            _img.style.width = _w + 'px';
                            _img.style.height = _h + 'px';
                            win.css( {
                                width : _w + 'px',
                                height : _h + 'px',
                                left :  (winW - _w)/2 + 'px',
                                top :  (winH - _h)/2 + 'px'
                            });
                            win.fadeIn();
                            _this.shadow.show();
                        }
                        _img.src = this.imgs.eq(this.now).attr( src );
                        win.append( _img );
                    },
                    hide : function(){
                        this.wall.fadeOut();
                        this.shadow.hide();
                    }
                };

                function _getSize( s1 , s2 ){
                    while(s1 > s2)s1 = s1 * 0.9;
                    return s1;
                }

                $( window ).on( 'resize' , function(){
                    var win;
                    var winW = $(window).width();
                    var winH = $(window).height();
                    for(var i=0;i<imgWalls.length;i++){
                        ( imgWalls[i].wall.css( 'display' ) == 'block' ) && imgWalls[i].show();
                    }
                });


                return function( imgs , tagName , src ){
                    return new _ShowImg( imgs , tagName , src );
                };
            }();


            function _ImgBanner( args ){
                var box;
                if( typeof args === 'string' ){
                    box = $(args);
                }
                this.banner = box ? box : $( args.banner );
                this.length = 0;
                this.now = +args.now || 0;
                this.imgWall = _imgWall( this.banner , args.tagName , args.imgSrc );
                _init( this );
                _bindEvent( this , this.banner.find( args.tagName || 'img' ) );
            }

            function _init( imgBanner ){
                var box = imgBanner.banner.parent();
                imgBanner.length = imgBanner.banner.children().length;
                imgBanner.slide( 0 );
            }

            function _bindEvent( imgBanner , imgs ){
                imgs.click(function(){
                    imgBanner.imgWall.show( this , imgBanner.src || 'src' );
                });
            }

            function _move( $elem , index ){
                var box = $elem.parent();
                var per = $elem.children().first();
                var lw = per.width() +
                    ( parseInt( per.css('margin-left') ) || 0 ) +
                    ( parseInt( per.css('margin-right') ) || 0 );
                var w = box.width();
                var perW = Math.round( w / lw ) * lw;
                $elem.stop().animate( { left : -index * perW } );
            }

            _ImgBanner.prototype = {
                pre : function(){
                    this.now = this.now === 0 ? 0 : this.now - 1;
                    this.slide();
                },
                next : function(){
                    this.now = this.now === this.length - 1 ? this.length - 1 : this.now + 1;
                    this.slide();
                },
                slide : function( step ){
                    var now = this.now = step === undefined ? this.now : +step;
                    _move( this.banner , now );
                }

            };

            return _ImgBanner;
        })();
        // 资质荣誉
        new ImgBanner( '.honour-box' );
    </script>
</block>
