<extend name="Public/base"/>


<!-- 添加一个用于在loginWin 方法中使用的basePath 标识 -->
<block name="content">
<!-- 面包屑start -->
<div class="crumbs">
    <div class="crumbs-content">
        <i class="icon-house"></i>
        <a href="/">首页</a>
        <i class="icon-leftarrow"></i>
        <a href="#">理财百科</a>
        <i class="icon-leftarrow"></i>
        <a href="#">

            {$cat_name}
        </a>
    </div>
</div>
<!-- 面包屑end -->

<!-- 页面内容start -->
<div class="help-page clearfix">
    <!-- 左边导航start -->
    <div class="help-nav clearfix">
        <ul class="nav-list" id="nav-list">
            <volist name="clist" id="v" key="k">
            <li <if condition="$_GET['id'] eq $v['id']"> class="active"</if> >
                <a href="{:U('articlesection',['id'=>$v['id']])}" class="nav_list_a"><i class="icon_bk{$k}"></i>{$v.name}</a>
            </li>
            </volist>

        </ul>
    </div>
    <!-- 左边导航end -->

    <!--右侧问答-->
    <div class="help-content">
        <div class="xz-widget">
            <div class="xz-widget-header">

                <h3><em>{$cat_name}</em></h3>
            </div>
            <div class="xz-widget-body">
                <ul   class="question-list">
                    <volist name="arclist" id="v" >
                    <li>
                        <a href="{:U('article',['aid'=>$v['id']])}" target="_blank" class="font_size18 gray3 pt25 block">
                            {$v['title']}</a>
                        <div class="q-answer show">
                            <p>{$v['description']}<a class="gray9" href="{:U('article',['aid'=>$v['id']])}" target="_blank" style="font-size:14px;color:#999999">[更多详情]</a></p>
                        </div>
                    </li>
                    </volist>

                </ul>
            </div>

            <div class="xz-widget-footer" style="margin-bottom:20px;">
                <div class="main_c_list_page">
                    <div class='main_c_list_page'><!--a href='javascript:doJumpPage(1);' class='previousPage'></a><a class='mr_a' href='javascript:doJumpPage(1);'>1</a><a class='' href='javascript:doJumpPage(2);'>2</a><a class='' href='javascript:doJumpPage(3);'>3</a><a class='' href='javascript:doJumpPage(4);'>4</a><a class='' href='javascript:doJumpPage(5);'>5</a><a class='' href='javascript:doJumpPage(6);'>6</a><em>...</em><a class='' href='javascript:doJumpPage(153);'>153</a><a href='javascript:doJumpPage(2);' class='nextPage'></a-->{$page}</div></div>
            </div>
        </div>
    </div>
    <!--右侧问答结束-->
</div>
<!-- 页面内容end -->
</block>


<block name="footer_js">
<script type="text/javascript" src="__PUBLIC__website/js/jquery.xz168fy-1.0.js"></script>

<script type="text/javascript">
    /*$(function(){
        var type = "1";
        if(type!=""){
            $("#nav-list li:eq("+(type-1)+")").addClass("active");
        }
    });*/

</script>

</block>

