<extend name="Public/base"/>
<block name="content">
<!--banner-->
<div class="news_banner">
    <a target="_blank" href="http://www.xiaozhu168.com/reg.html">
        <img src="http://mer.xiaozhu168.com/static/website/images/news/new_banners.jpg" />
    </a>
</div>
<!--banner结束-->

<!--包裹内容div-->
<div class="new_center clearfix">
    <!--指引条div-->
    <div class="news_bar">
        <ul>
            <li><i class="icon-house"></i></li>
            <li class="news_index"><a href="/" target="_blank">首页</a></li>
            <li  class="news_jt"><i class="icon-leftarrow"></i></li>
            <li class="news_notice"><a href="{:U('articlesection',["cat_id"=>$info["class_id"]])}">{$info.class_name}</a></li>
            <li  class="news_jt"><i class="icon-leftarrow"></i></li>
            <li><label>{$info['title']}</label></li>
        </ul>
    </div>
    <!--指引条div结束-->

    <!--中间包裹div-->
    <div class="not_center">
        <!--左边通知正文-->
        <div class="not_text">
            <!--标题-->
            <h1 class="not_title">{$info['title']}</h1>
            <p class="not_titletime">{$info['pubdate']|date='Y-m-d H:i',###}</p>
            <!--标题结束-->

            <!--通知内容-->
            <div class="not_write">
                <p>
                    {$info['body']|htmlspecialchars_decode}
                </p>
                <div class="mt50">
                    <p style="width:auto;float:left;"><a href="javascript:;">来源：</a>{$info['source']}</p>
                    <!--分享-->
                    <div style="float:right;" data-tag="share_1" class="bdsharebuttonbox">
                        <span style="float:left;margin-top:6px;">果断分享到：</span>
                        <a class="bds_tsina" data-cmd="tsina"></a>
                        <a class="bds_qzone" data-cmd="qzone"></a>
                        <a class="bds_tqq" data-cmd="tqq"></a>
                        <a class="bds_sqq" data-cmd="sqq"></a>
                        <a class="bds_weixin" data-cmd="weixin"></a>
                        <a class="bds_renren" data-cmd="renren"></a>
                        <a class="bds_more" data-cmd="more"></a>
                    </div>
                    <p style="float:left; line-height: 36px;">

                        标签：
                        <a href="汇金" class="tag-xq">汇金</a>
                    </p>
                    <script type="text/javascript">
                        window._bd_share_config={
                            "common":{"bdSnsKey":{},
                                "bdText":"",
                                "bdDesc":"",
                                "bdUrl":"",
                                "bdSign":"normal",
                                "bdMini":"2",
                                "bdMiniList":false,
                                "bdPic":"",
                                "bdStyle":"1",
                                "bdSize":"24"},
                            "share":{}
                        };

                        with(document)0[(getElementsByTagName("head")[0]||body).appendChild(createElement("script")).src="http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion="+~(-new Date()/36e5)];
                    </script>
                    <!--分享结束-->
                </div>
                <p class="not_flip">
                    <volist name="pervNext" id="v" key="k">
                        <span <if condition="$k eq 2"> class="not_span" </if> >
							{$v['pn']}：<a href="{:U('',['aid'=>$v['id']])}">{$v['title']}</a>
						</span>
                    </volist>
                    <!--<span class="not_span">下一篇：<a href="http://www.xiaozhu168.com/articles/details-9428.html">惠投无忧怎么样</a></span>-->
                </p>
            </div>
            <!--通知内容结束-->
        </div>
        <!--左边通知正文结束-->

        <!--右边服务通知列表-->
        <div class="not_right encyclopedia">
            <div>
                <p>
                    <span><i class="icon-smallhorn"></i></span>
                    <span class="not_tz">最新文章</span>
                    <span class="not_more"></span>
                </p>
                <ul>
                    <volist name="latest" id="v">
                    <li><a href="{:U(['',['aid'=>$v['id']]])}" target="_blank" style="vertical-align:middle">{$v['title']}</a>
                    </li>
                    </volist>
                </ul>
            </div>
            <div>
                <p>
                    <span><i class="icon-smallhorn"></i></span>
                    <span class="not_tz">相关文章</span>
                    <span class="not_more"></span>
                </p>
                <ul>
                    <volist name="relate" id="v">
                    <li><a href="{:U(['',['aid'=>$v['id']]])}" target="_blank"  style="vertical-align:middle">{$v['title']}</a></li>
                    </volist>


                </ul>
            </div>
        </div>
        <!--右边服务通知列表结束-->
    </div>
    <!--中间包裹div结束-->

</div>

<!--包裹内容div结束-->
</block>

<block name="footer_js">
<script type="text/javascript">
    document.onselectstart = function() {
        return false;
    }
</script>
</block>


