

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html>
<head>
    <title>电子合同已签</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">

    <script>

        function objects(x,y,i,color){
            var obj = document.getElementById("Layer2");
            with(obj){
                id="Div_"+i;

            }
            return obj;

        }


        function moveObj(obj) {
            obj.style.pixelLeft+=30;
            if(obj.style.pixelLeft>document.body.clientWidth){obj.style.pixelLeft=0;}
        }
    </script>
    <style type="text/css">
        <!--
        .STYLE1 {font-size: 12px}
        -->
    </style>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">



<table width="740" border="0" align="center" cellpadding="2" cellspacing="2">
    <tr>
        <td height="63" align="center" valign="bottom" style="font-family: 宋体;">
            <b><font size="6">理财电子合同

            </font></b>            </td>
    </tr>
    <tr>
        <td style="font-family: 宋体; font-size: 16px">
            <p >&#160;</p>
            <p >甲方：湖南同盈科技软件开发有限公司&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;合同编号：TZLC{//合同编号} </p>
            <p >乙方：张三春&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; </p>
            <p >甲乙双方经友好协商，本着利益共享的原则，根据中华人民共和国有关法规的相关规定就乙方投资甲方的事宜达成如下协议&#160; </p>
            <p >第一条:乙方自愿以投资理财方式向甲方投资以下项目&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; </p>
            <style type="text/css">
                <!--
                .STYLE1 {font-size: 12px}
                -->
            </style>
            <table width="100%" border="1" >
                <tr >
                    <td height="30" align="center" valign="middle" ><p class="STYLE1" >项目编号</p>    </td>
                    <td height="30" align="center" valign="middle" ><p class="STYLE1" >项目类别 </p>    </td>
                    <td height="30" align="center" valign="middle" ><p class="STYLE1" >投入金额 </p></td>
                    <td height="30" align="center" valign="middle" ><p class="STYLE1" >分红周期 </p>    </td>
                    <td height="30" align="center" valign="middle" ><p class="STYLE1" >分红时长 </p>    </td>
                    <td height="30" align="center" valign="middle" ><p class="STYLE1" >分红次数 </p>    </td>
                    <td height="30" align="center" valign="middle" ><p class="STYLE1" >周期分红金额 </p>    </td>
                    <td height="30" align="center" valign="middle" ><p class="STYLE1" >总计收入（含本金） </p>    </td>
                </tr>
                <tr >
                    <td height="30" align="center" valign="middle" ><p class="STYLE1" >{★需要填写★}</p></td>
                    <td height="30" align="center" valign="middle" ><p class="STYLE1" >{★需要填写★}</p></td>
                    <td height="30" align="center" valign="middle" ><p class="STYLE1" >{★需要填写★}</p></td>
                    <td height="30" align="center" valign="middle" ><p class="STYLE1" >{★需要填写★}</p></td>
                    <td height="30" align="center" valign="middle" ><p class="STYLE1" >{★需要填写★}</p></td>
                    <td height="30" align="center" valign="middle" ><p class="STYLE1" >{★需要填写★}</p></td>
                    <td height="30" align="center" valign="middle" ><p class="STYLE1" >{★需要填写★}</p></td>
                    <td height="30" align="center" valign="middle" ><p class="STYLE1" >{★需要填写★}</p></td>
                </tr>
            </table>

            <p >第二条:&#160;乙方投资({★需要填写★}元整)&#160;在甲方公司做理财产品,投资项目为（{★需要填写★}）项目，甲方每期必须按期支付乙方红利（{★需要填写★}元整），如有违约每期多付三倍红利做违约金给乙方。 </p>
            <p >第四条:&#160;甲方权利和义务 </p>
            <p >1.甲方有权支配乙方投资的人民币从事各种投资经营活动，乙方无权干涉。 </p>
            <p >2.甲方要保证每期按时支付给乙方红利。 </p>
            <p >第五条:乙方权利和义务&#160;&#160; </p>
            <p >1.甲方在投资经营过程中，各种原因造成的经济损失，乙方不予承担。 </p>
            <p >2.甲方在投资经营过程中，若触犯国家法律法规，乙方不承担法律责任。 </p>
            <p >第六条:如需担保，另立协议担保书，作为本协议附件。 </p>
            <p >第七条:违约责任： </p>
            <p >甲方未依照协议规定支付乙方本金及红利时，从逾期第一个月起，按出资额的百分之五每月缴付违约金。如逾期三个月仍未支付违约金，乙方可起诉甲方，并要求甲方赔偿经济损失。 </p>
            <p >但由于乙方未经甲方同意，寻找其他投资公司投资合作，甲方有权终止协议并不承担分红。 </p>
            <p >第八条:解决协议纠纷的方式:&#160;本协议在履行过程中发生的争议，由双方当事人协商，达成书面协议解决，协商不成的，依法向当地人民法院提起诉讼。 </p>
            <p >第九条：甲方收到乙方的投资款，本协议才生效。 </p>
            <p >第十条:本协议电子件视同原件；此协议一式二份，甲乙双方各执一份。 </p>

            <br>
            <br>
            <br>
            <br><br>

            </p>
        </td>
    </tr>
    <tr>
        <td>

            <div style="position: relative; left: 0px; top: 0px;">
                <div id="Layer1" style="position: absolute; width: 197px; height: 29px; z-index: 2;
            left: 69px; top: -60px;">
                    <img src="Ajax/gz.gif"></div>
            </div>
            <div style="position: relative; left: 0px; top: 0px;">
                <div id="Layer1" style="position: absolute; width: 197px; height: 29px; z-index: 2;
            left: 244px; top: 47px;">
                    <img src="Ajax/yz.gif"></div>
            </div>

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="66%" style="font-family: 宋体; font-size: 16px">
                        甲方：湖南同盈科技软件开发有限公司（公章）
                        <br>
                        代表签字： <span style="font-family: 楷体_GB2312;
                                font-weight: bold; font-size: 28px">湘公网安备10000000021135号</span> <br>
                        签约日期：2017-9-18</td>
                    <td width="34%" style="font-family: 宋体; font-size: 16px">
                        乙方：张三春<br>

                        <table>
                            <tr>
                                <td>
                                    签字：</td>
                                <td>
                                    <div id="haha" style="font-family: 楷体_GB2312; font-weight: bold; font-size: 28px">
                                        张三春
                                    </div>

                                </td>

                        </table>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>


<br>
<br>
<br>
<br>
<br>
<br>   <p class="noprint"> <table width="322" height="89" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center"><a href="javascript:window.print()" target="_self">打印电子合同</a></td>
    </tr>
</table></p>

<script>
    var i=0;


    var obj1=objects(463,628,1,'#000000');

    function a(){

        var a="张三春";
        if(i<a.length)
        {
            setTimeout('moveObj('+obj1.id+');',0);
            i++;
            obj = document.all("haha");
            obj.innerHTML = a.substring(0,i);
            setTimeout('a();',600);
        }
        if(i==a.length){
            setTimeout('location.href="?act=ok"',600);
        }
    }
</script>
</body>
</html>