<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$title}</title>
    <meta name="keywords" content="{$keyword}" />
    <meta name="description" content="{$description}" />
    <style type="text/css" mce_bogus="1">

        body {font-family: SimSun;}
        .contract_tab{ height:auto; with:700px; }
        .contract_tab_tr{ background:#f6f6f6; border:1px solid #ccc;}
        .contract_tab td{font-size:14px; color:#666; text-align:center;}
    </style>
</head>
<body style="padding: 10px;font-size:12px;line-height: 22px;">
{$body}
</body>
</html>
