<extend name="Public:base"/>
<block name="content">
  <style type="text/css">
    .content-block tr{max-height:2rem;line-height:2rem;}
    .content-block th{font-size:0.5rem}
    .content-block td{font-size:0.5rem;text-align:center;}
  </style>

      <div class="content" style="background:#fff;">
		<div class="buttons-tab">
		    <a href="#tab1" class="tab-link active button">进行中</a>
		    <a href="#tab2" class="tab-link button">已结束</a>
		  </div>
		  <div class="content-block">
		    <div class="tabs">
		      <div id="tab1" class="tab active">
		        <div class="content-block">
		          <table width="100%">
                <tr style="border-bottom:1px solid #ccc;">
                  <th width="30%">项目名称</th>
                  <th width="25%">投资金额</th>
                  <th width="15%">预计收益</th>
                  <th width="30%">到期时间</th>
                </tr>
                      <volist name="list" id="v">
                          <if condition="$v['return_status'] eq 0">
                          <tr <if condition="$key%2 == 0" >style="background:#f1efef;"</if> >
                  <td class="wrod_wrap"><a href="/wap/index/pro_detail?id={$v.pro_id}">{$v.pro_name}</a></td>
                  <td>{$v.trans_price}</td>
                  <td>{$v['earnings']-$v['trans_price'] | number_format=2}</td>
                  <td>{$v['repaytime']|date='Y-m-d',###}</td>
                </tr>
                          </if>
                      </volist>

              </table>
		        </div>
		      </div>
		      <div id="tab2" class="tab">
		        <div class="content-block">
              <table width="100%">
                <tr style="border-bottom:1px solid #ccc;">
                  <th width="30%">项目名称</th>
                  <th width="25%">投资金额</th>
                  <th width="25%">预计收益</th>
                  <th width="20%">到期时间</th>
                </tr>
                  <volist name="list" id="v">
                      <if condition="$v['return_status'] neq 0">
                          <tr <if condition="$key%2 == 0" >style="background:#f1efef;"</if> >
                          <td  class="wrod_wrap"><a href="/wap/index/pro_detail?id={$v.pro_id}">{$v.pro_name}</a></td>
                          <td>{$v.trans_price}</td>
                          <td>{$v['earnings']-$v['trans_price'] | number_format=2}</td>
                          <td>{$v['repaytime']|date='Y-m-d',###}</td>
                          </tr>
                      </if>
                  </volist>
              </table>		       
		        </div>
		      </div>
		    </div>
		  </div>
      </div>

</block>
<block name="jsinit">
    <script>
        $(".button-link.back").show();

        $(document).on("pageInit",  function(e, id, page) {

            //多个标签页下的无限滚动
            var loading = false;
            // 每次加载添加多少条目
            var itemsPerLoad = 2;
            // 最多可加载的条目
            var maxItems = {
                0:"{$count[3]}",1:"{$count[5]}",2:"{$count[6]}"
            },lastIndex = {
                0:$('.list-container').eq(0).find('div.card').length,
                1:$('.list-container').eq(1).find('div.card').length,
                2:$('.list-container').eq(2).find('div.card').length,
            };

            $(page).on('infinite', function() {

                // 如果正在加载，则退出
                if (loading) return;
                // 设置flag
                loading = true;
                var tabIndex = 0;
                if($(this).find('.infinite-scroll.active').attr('id') == "tab1"){
                    tabIndex = 0;
                }
                if($(this).find('.infinite-scroll.active').attr('id') == "tab2"){
                    tabIndex = 1;
                }
                if($(this).find('.infinite-scroll.active').attr('id') == "tab3"){
                    tabIndex = 2;
                }


                if (lastIndex[tabIndex] >= maxItems[tabIndex]) {
                    // 重置加载flag
                    loading = false;
                    // 加载完毕，则注销无限加载事件，以防不必要的加载
                    //$.detachInfiniteScroll($('#tab'+(tabIndex+1)));
                    // 删除加载提示符
                    $('.infinite-scroll-preloader').eq(tabIndex).hide();
                    return;
                }
                function addItems(number, last,tabIndex) {
                    var html = '';
                    $.get('',{tabIndex:tabIndex,p:Math.ceil((number+last)/number)},function (res) {
                        $.each(res,function(index,item){
                            html += '<div class="card" onclick="location.href=\'pro_detail?id='+item.id+'\'">\n' +
                                '                    <div class="card-header">'+item.name+'</div>\n' +
                                '                    <div class="card-content">\n' +
                                '                      <div class="list-block media-list">\n' +
                                '                        <ul>\n' +
                                '                          <li class="item-content">\n' +
                                '                            <div class="item-media">\n' +
                                '                              <img src="__ROOT__'+item.litpic+'" width="80">\n' +
                                '                            </div>\n' +
                                '                            <div class="item-inner">\n' +
                                '                              <div class="item-subtitle">投资总额：<span style="color:#e80e0e">'+item.item_total+'</span></div>\n' +
                                '                              <div class="item-subtitle">项目期限：<span style="color:#e80e0e">'+item.expression+'天</span></div>\n' +
                                '                              <div class="item-subtitle">年化收益：<span style="color:#e80e0e">'+item.annual_income+'%</span></div>\n' +
                                '                              <div class="item-subtitle">进度:<span>\n' +
                                '                              <em><i style="width:'+item.progress+'%;"></i></em>\n' +
                                '                              <span>'+item.progress+'%</span>\n' +
                                '                              </span>\n' +
                                '                              </div>\n' +
                                '                            </div>\n' +
                                '                          </li>\n' +
                                '                        </ul>\n' +
                                '                      </div>\n' +
                                '                    </div>\n' +
                                '                    <div class="card-footer">\n' +
                                '                      <span>发布时间：'+item.pubdate+'</span>\n' +
                                '                    </div>\n' +
                                '     </div>';

                        });
                        $('.infinite-scroll.active .list-container').append(html);
                        // 重置加载flag
                        loading = false;
                        // 更新最后加载的序号
                        lastIndex[tabIndex] =  $('.list-container').eq(tabIndex).find('div.card').length;
                        $.refreshScroller();
                    });

                }
                addItems(itemsPerLoad,lastIndex[tabIndex],tabIndex);

            });
        });
        $.init();
        });
    </script>
</block>