<div class="leftBox">
    <ul class="parentList">
        <li><span><i class="arrow-down"></i>我的账户</span>
            <ul class="childList">
                <li><a href="/U/accountInit"><i>账户总览</i></a></li>
                <li><a href="/U/customerInfo"><i>个人资料</i></a></li>

            </ul>
        </li>
        <li><span><i class="arrow-down"></i>理财管理</span>
            <ul class="childList">
                <li><a href="/U/newQueryInvestList.html"><i>投资记录</i></a></li>

            </ul>
        </li>
        <li><span><i class="arrow-down"></i>资金管理</span>
            <ul class="childList">
                <li><a href="/U/newRechargeRecordList.html"><i>账户记录</i></a></li>
                <li><a href="/U/recharge.html"><i>充值</i></a></li>
                <li><a href="/U/withdraw.html"><i>提现</i></a></li>
            </ul>
        </li>
        <li><span><i class="arrow-down"></i>百宝箱</span>
            <ul class="childList">

                <li><a href="/U/riskAssessHome.html"><i>风险评估</i></a></li>

                <li><a href="/U/myMessage.html"><i>消息中心</i>
                    <!-- 有新消息 start -->
                    <small> {$user_info["unread"]}</small>
                    <!-- 有新消息 end --></a></li>
                <li><a href="/U/myVipInterest.html"><i>会员权益</i></a></li>

                <li class=""><a href="/U/myInvite.html"><i>老友帮</i></a></li>

            </ul>
        </li>
    </ul>
</div>